{   
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": ["tsconfig.eslint.json"
            ],
        "sourceType": "module",
        "createDefaultProgram": true
        },
    "rules": {
        "@typescript-eslint/no-non-null-assertion": "off"
    },
    "plugins": ["@typescript-eslint"],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "overrides": [
        {
            "files": [
                "test/**"
            ],
            "rules": {
                "import/extensions": "off",
                "no-restricted-globals": "off",
                "no-undef": "off"
            }
        }
    ]
}