{   
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": ["tsconfig.eslint.json"
            ],
        "sourceType": "module"
        },
    "rules": {
        "unicorn/filename-case": [
        "warn",
            {
        "cases": {
        "camelCase": true,
        "pascalCase": true
                }
            }
        ]
    },
    "plugins": ["@typescript-eslint", "jsdoc", "import", "prefer-arrow", "unicorn"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "overrides": [
        {
            "files": [
                "test/**"
            ],
            "rules": {
                "import/extensions": "off",
                "no-restricted-globals": "off",
                "no-undef": "off"
            }
        }
    ]
}